<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="https://gmpg.org/xfn/11">
  <link rel="dns-prefetch" href="//cdn.aux-quatre-coins-de-paris.fr" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="stylesheet" media="none" onload="if (media!='all') media='all';"      href="https://fonts.googleapis.com/css?family=Cabin+Sketch%3A%2C700%2C700italic%7CRoboto%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic" />
  <!-- <link rel="stylesheet" media="none" onload="if (media!='all') media='all';" href="https://fonts.googleapis.com/css?family=Cabin+Sketch%3A%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%7CRoboto%3A300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic" /> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  {{- $cssReboot := resources.Get "/css/bootstrap-reboot.min.css" -}}
  {{- $cssMain := resources.Get "/css/main.css" -}}
  {{ $style := slice $cssReboot $cssMain | resources.Concat "css/bundle.css" | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <title>{{ if .IsHome -}}
    Aux quatre coins de Paris &#8211; Make the most of Paris!
    {{- else -}}
    {{- .Title }} &#8211; {{ .Site.Title -}}
  {{- end }}</title>
  <meta name="description" content="{{ i18n `meta-description` }}" />
  <link rel="canonical" href="https://aux-quatre-coins-de-paris.fr/" />
  <link rel="shortlink" href="https://aux-quatre-coins-de-paris.fr/" />

  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-167x167.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png" />
  <!-- <link rel="icon" type="image/png" href="/favicons/favicon-194x194.png" sizes="194x194" />
  <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192" /> -->
  <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />

  {{- $manifest := resources.Get "manifest.json" | resources.ExecuteAsTemplate "manifest.json" . -}}
  <link rel="manifest" href="{{ $manifest.RelPermalink }}" />
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="{{ .Site.Params.themeColor }}" />
  <meta name="msapplication-TileColor" content="{{ .Site.Params.themeColor }}" />
  <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png" />
  <meta name="theme-color" content="{{ .Site.Params.themeColor }}" />

  <meta name="p:domain_verify" content="bf1d518215aae3836252403607bc1c8a" />
</head>
