/*** Global ***/
html {
  font-size: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-weight: inherit;
  font-size: 1.125rem;
  font-size: 1rem
}
.py-1 {
  padding: 2em 0;
}
.mx-1 {
  margin: 0 .5em;
}

#content {
  margin: 3em 0;
}
.content-width {
  margin: 0 2em
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.screen-only {
  display: none;
}
.text-center {
  text-align: center;
}
.list-unstyled {
  list-style: none;
  padding: 0;
}
.list-unstyled > li {
  margin-bottom: 0.2em;
}
.bg-sky {
  background-color: #def6fe;
}

.fSketch,
h1, h2, h3, h4, h5 {
  font-family: "Cabin Sketch", Sans-serif;
  font-weight: 600;
}
.fRoboto {
  font-family: "Roboto", sans-serif;
}

.h1, .h2, .h3,
h1, h2, h3, h4, h5 {
  color: #1569ae;
  line-height: 1.3em;
}
.h1, h1 {
  font-size: 2.6rem;
  margin: 0.5em 0 1em;
}
.h2, h2 {
  font-size: 2rem;
  margin: 0.2em 0 0.5em;
}
.h3, h3 {
  font-size: 1.8rem;
  margin: 0.2em 0 0.5em;
}
.links-light a,
.link-light,
.links-light a:hover,
.link-light:hover,
.links-light a:focus,
.link-light:focus {
  color: #fff;
  text-decoration: none;
}
.btn {
  display: inline-block;
  font-weight: 600;
  padding: 0.8em 2em;
  transition: all 0.2s ease-in-out;
}
.btn:focus,
.btn:hover {
  text-decoration: none;
}
.btn-light {
  background: #fdd247;
  color: #20396f;
}
.btn-light:focus,
.btn-light:hover {
  background: #fcdb6f;
}
.btn-sky {
  background: #5bc0de;
  color: #162546;
}
.btn-sky:focus,
.btn-sky:hover {
  background: #62c2df;
}
.btn-border {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-round {
  border-radius: 4px;
}
.btn-full {
  display: block;
}
.btn-picto .fas {
  margin-right: 0.5em;
}

.logo-box-img {
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
}
.full-width {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .flex-row-s {
    display: flex;
    flex-direction: row;
  }
  .logo-box-img {
    margin-left: 0;
    margin-right: 0;
    width: 8.5vw;
  }
}
@media screen and (min-width: 992px) {
  .flex-row-m {
    display: flex;
    flex-direction: row;
  }
}

/*** Header ***/
.main-header {
  background: url("/images/city-island-and-notre-dame-cathedral.jpg") no-repeat center;
  background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
    url("/images/city-island-and-notre-dame-cathedral.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5)
}
.main-header .title {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}
.main-header .title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-header .subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: -0.4em;
}
.main-titles {
  margin: 0 20px;
  text-align: center;
}

.main-nav {
  background: #545454;
  background: rgba(0,0,0,0.5);
}
.menu-top {
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-item {
  font-size: 1.125em;
  font-weight: 600;
}
.menu-top a,
.menu-top li > span {
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0.5em 1em;
  transition: all 0.2s ease-in-out;
}
.menu-top a:hover,
.menu-top a:focus {
  background: rgba(110,193,228,.7);
  text-decoration: none;
}
.flag {
  margin-right: 0.3em;
  margin-bottom: 2px;
}
.submenu-wrapper {
  position: relative;
}
.submenu {
  display: none;
  font-size: 0.9em;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%
}
.submenu-wrapper:hover .submenu {
  background: #545454;
  background: rgba(0,0,0,0.8);
  display: block;
  animation: 0.3s menu-open;
}
@keyframes menu-open {
  0% {
    opacity: 0;
    height: 0%;
  }
  100% {
    opacity: 1;
    height: 90%;
  }
}
@media screen and (min-width: 576px) {
  .main-header .title {
    font-size: 3rem;
  }
  .main-header .title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    text-align: left;
  }
  .main-titles {
    margin-bottom: 150px
  }

}

/*** Footer ***/
footer {
  background-color: #545454;
  color: #fff;
  padding: 1em 0;
}
footer h3 {
  color: #fff;
  font-size: 1.5625rem;
  margin: 0;
}
.footer-profile-wrapper,
.footer-links {
  flex-grow: 1;
}
.footer-profile-wrapper {
  margin-right: 4%;
}
.footer-profile-wrapper .logo-box-img {
  box-sizing: border-box;
  padding-right: 1.8vw;
}
.footer-social {
  margin: 0.5em 0 2em;
}
.footer-social .social-icon + .social-icon {
  margin-left: 1.5em;
}
.footer-links .menu-item {
  font-size: 1rem;
}

/* @media screen and (min-width: 768px) {
  .content-width {
    margin: 0 auto;
    max-width: 748px;
  }
} */
@media screen and (min-width: 1024px) {
  .content-width {
    margin: 0 auto;
    max-width: 1000px;
  }
}
@media screen and (min-width: 1280px) {
  .content-width {
    margin: 0 auto;
    max-width: 1200px;
  }
}

/*** Home ***/
.tips-wrapper {
  justify-content: space-between;
}
.tips-box {
  flex-basis: 0;
  flex-grow: 1;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 2em;
  padding: 0 1em;
}
.tips-box .full-width {
  display: flex;
}
.tips-content {
  background: #def6fe;
  flex-grow: 1;
  margin: 1em 20px 0;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0,0,0.3);
  border-radius: 3px;
}
.tips-content .h3 {
  font-weight: 500;
}
picture + .tips-content {
  margin-top: -125px;
}
.tips-content strong {
  font-weight: 500;
}
.tips-content .btn-full {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 1em -20px -20px;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .tips-box {
    margin-bottom: 0;
    padding: 0 2em;
  }
}

.list-icon {
  align-content: center;
  color: #1569ae;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1em 0 2em;
  width: 100%;
}
.list-icon li {
  padding: 0 5%;
  text-align: center;
}
.list-icon .icon {
  color: #fdd247;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.mosaic-content h1,
.mosaic-content h2,
.mosaic-content h3 {
  margin-bottom: 2rem;
}
.mosaic-content .btn {
  margin-top: 2rem;
}
.mosaic-content-wrapper {
  justify-content: space-between;
  margin: 2em 0;
}
.mosaic-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template: 
    "a b" auto
    "a c" 1fr
    "d c" auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin-top: 2em;
}
.mosaic-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mosaic-item-1 {
  grid-area: a
}
.mosaic-item-2 {
  grid-area: b
}
.mosaic-item-3 {
  grid-area: d
}
.mosaic-item-4 {
  grid-area: c
}

@media screen and (min-width: 992px) {
  .mosaic-content {
    width: 30%;
  }
  .mosaic-content-wrapper {
    margin: 4em 0;
  }
  .mosaic-wrapper {
    margin-top: 0;
    width: 65%
  }
  .bg-sky {
    margin-bottom: 2em;
  }
}

.bg-sky ol {
  margin-bottom: 0;
}
.bg-sky ol li {
  padding-bottom: 1em;
}

/*** Pages ***/
.tile-list {
  margin: 2em 0;
}
.tile-list .image-tile {
  margin: 0.6em 0;
  text-align: center;
}
.image-tile {
  background: #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 4em 2em;
  position: relative;
}
.image-tile,
.image-tile:hover {
  text-decoration: none;
}
.image-tile img {
  display: flex;
  filter: brightness(0.5);
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.image-tile:hover img {
  filter: brightness(0.9)
}
.image-tile .h1,
.image-tile .h2,
.image-tile .btn-border {
  margin: 0 0 0.5em;
  position: relative;
}
.image-tile .h1,
.image-tile .h2 {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
.image-tile .btn-border {
  background: rgba(0,0,0,0.15);
}
.image-tile:hover .btn-border {
  background: rgba(0,0,0,0.5);
}
.tile-list > .btn {
  margin: 0.5em 0;
}

.tile-list .article-classic {
  margin: 0.5em 0 1em;
}
.article-classic * {
  order: 2;
}
.article-classic img {
  height: auto;
  margin-bottom: 1em;
  order: 1;
  width: 100%;
}
.article-classic p:last-of-type {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 400px) {
  .image-tile img {
    height: 100%;
    min-width: 100%;
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  .tile-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tile-list .article-classic,
  .tile-list .image-tile {
    width: 49%;
  }
  .tile-list > .btn {
    margin: 0.5em 1%;
    min-width: 22%;
  }
  .tile-list > .btn:nth-of-type(odd) {
    margin-left: auto;
  }
  .tile-list > .btn:nth-of-type(even) {
    margin-right: auto;
  }
}
