    html {
      font-size: 112.5%
    }

    body,
    button,
    input,
    select,
    textarea {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
      font-weight: inherit;
      font-size: 18px;
      font-size: 1rem
    }

    blockquote {
      border-color: rgb(0, 0, 0)
    }

    .site-title {
      font-size: 35px;
      font-size: 1.9444444444444rem
    }

    .ast-archive-description .ast-archive-title {
      font-size: 40px;
      font-size: 2.2222222222222rem
    }

    .site-header .site-description {
      font-size: 15px;
      font-size: .83333333333333rem
    }

    .entry-title {
      font-size: 30px;
      font-size: 1.6666666666667rem
    }

    .comment-reply-title {
      font-size: 29px;
      font-size: 1.6111111111111rem
    }

    .ast-comment-list #cancel-comment-reply-link {
      font-size: 18px;
      font-size: 1rem
    }

    h1,
    .entry-content h1,
    .entry-content h1 a {
      font-size: 48px;
      font-size: 2.6666666666667rem
    }

    h2,
    .entry-content h2,
    .entry-content h2 a {
      font-size: 42px;
      font-size: 2.3333333333333rem
    }

    h3,
    .entry-content h3,
    .entry-content h3 a {
      font-size: 30px;
      font-size: 1.6666666666667rem
    }

    h4,
    .entry-content h4,
    .entry-content h4 a {
      font-size: 20px;
      font-size: 1.1111111111111rem
    }

    h5,
    .entry-content h5,
    .entry-content h5 a {
      font-size: 18px;
      font-size: 1rem
    }

    h6,
    .entry-content h6,
    .entry-content h6 a {
      font-size: 15px;
      font-size: .83333333333333rem
    }

    .ast-single-post .entry-title,
    .page-title {
      font-size: 30px;
      font-size: 1.6666666666667rem
    }

    #secondary,
    #secondary button,
    #secondary input,
    #secondary select,
    #secondary textarea {
      font-size: 18px;
      font-size: 1rem
    }

    ::selection {
      color: transparent
    }

    .tagcloud a:hover,
    .tagcloud a:focus,
    .tagcloud a.current-item {
      color: transparent
    }

    input[type="radio"]:checked,
    input[type=reset],
    input[type="checkbox"]:checked,
    input[type="checkbox"]:hover:checked,
    input[type="checkbox"]:focus:checked,
    input[type=range]::-webkit-slider-thumb {
      box-shadow: none
    }

    .ast-comment-meta {
      line-height: 1.666666667;
      font-size: 15px;
      font-size: .83333333333333rem
    }

    .menu-toggle,
    button,
    .ast-button,
    .button,
    input#submit,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      border-radius: 2px;
      padding: 10px 40px;
      color: transparent
    }

    button:focus,
    .menu-toggle:hover,
    button:hover,
    .ast-button:hover,
    .button:hover,
    input[type=reset]:hover,
    input[type=reset]:focus,
    input#submit:hover,
    input#submit:focus,
    input[type="button"]:hover,
    input[type="button"]:focus,
    input[type="submit"]:hover,
    input[type="submit"]:focus {
      color: transparent
    }

    .search-submit,
    .search-submit:hover,
    .search-submit:focus {
      color: transparent
    }

    .entry-meta,
    .entry-meta * {
      line-height: 1.45
    }

    blockquote,
    blockquote a {
      color: #000
    }

    .ast-404-layout-1 .ast-404-text {
      font-size: 200px;
      font-size: 11.111111111111rem
    }

    .widget-title {
      font-size: 25px;
      font-size: 1.3888888888889rem
    }

    .calendar_wrap #today>a {
      color: transparent
    }

    .ast-header-break-point .ast-mobile-menu-buttons-minimal.menu-toggle {
      background: transparent
    }

    .ast-header-break-point .ast-mobile-menu-buttons-outline.menu-toggle {
      background: transparent;
      border: 1px solid
    }

    .ast-header-break-point .main-header-bar .ast-button-wrap .menu-toggle {
      border-radius: px
    }

    @media (min-width:545px) {

      .ast-page-builder-template .comments-area,
      .single.ast-page-builder-template .entry-header,
      .single.ast-page-builder-template .post-navigation {
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto
      }
    }

    @media (max-width:768px) {
      .ast-archive-description .ast-archive-title {
        font-size: 40px
      }

      .entry-title {
        font-size: 30px
      }

      h1,
      .entry-content h1,
      .entry-content h1 a {
        font-size: 30px
      }

      h2,
      .entry-content h2,
      .entry-content h2 a {
        font-size: 25px
      }

      h3,
      .entry-content h3,
      .entry-content h3 a {
        font-size: 20px
      }

      .ast-single-post .entry-title,
      .page-title {
        font-size: 30px
      }
    }

    @media (max-width:544px) {
      .ast-archive-description .ast-archive-title {
        font-size: 40px
      }

      .entry-title {
        font-size: 30px
      }

      h1,
      .entry-content h1,
      .entry-content h1 a {
        font-size: 30px
      }

      h2,
      .entry-content h2,
      .entry-content h2 a {
        font-size: 25px
      }

      h3,
      .entry-content h3,
      .entry-content h3 a {
        font-size: 20px
      }

      .ast-single-post .entry-title,
      .page-title {
        font-size: 30px
      }
    }

    @media (max-width:768px) {
      html {
        font-size: 102.6%
      }
    }

    @media (max-width:544px) {
      html {
        font-size: 102.6%
      }
    }

    @media (min-width:769px) {
      .ast-container {
        max-width: 1240px
      }
    }

    @font-face {
      font-family: "Astra";
      src: url(https://cdn.aux-quatre-coins-de-paris.fr/wp-content/themes/astra/assets/fonts/astra.woff) format("woff"),
        url(https://cdn.aux-quatre-coins-de-paris.fr/wp-content/themes/astra/assets/fonts/astra.ttf) format("truetype"),
        url(https://cdn.aux-quatre-coins-de-paris.fr/wp-content/themes/astra/assets/fonts/astra.svg#astra) format("svg");
      font-weight:400;font-style:normal
    }
    @media (max-width:921px) {
      .main-header-bar .main-header-bar-navigation{display:none}
    }
    .ast-small-footer{border-top-style:solid;border-top-width:4px;border-top-color:#fff}
    .ast-small-footer-wrap{text-align:center}
    @media (max-width:920px){
      .ast-404-layout-1 .ast-404-text{font-size:100px;font-size:5.5555555555556rem}
    }
    .ast-header-break-point .site-header{border-bottom-width:1px}
    @media (min-width:769px){.main-header-bar{border-bottom-width:1px}}
    .main-header-bar-wrap::before{content:'921'}
    @media all and (min-width:922px){.main-header-bar-wrap::before{content:''}}
