{{ define "main" -}}
  <section class="content-width home">
    {{ .Content }}

    {{- $bundle := .Site.GetPage "page" "home" -}}
    {{- with $bundle -}}
    <div class="tips-wrapper flex-row-s">
      {{- range $bundle.Data.Pages -}}
      {{- if eq (.Param "type") "page" -}}
      <div class="tips-box flex-col">
        {{- $source2 := .Param "imageBig" -}}
        {{- $alt := .Param "imageTitle" -}}
        {{- with .Param "image" -}}
        <picture>
          {{- with $source2 -}}
          <source srcset="{{ $source2 }}" media="(min-width: 1024px)">
          {{- end -}}
          <img src="{{ . }}" alt="{{ $alt }}" class="full-width">
        </picture>
        {{- end -}}
        <div class="fRoboto tips-content flex-col">
          <h2 class="fRoboto h3 text-center">{{ .Title }}</h2>
          <p>{{ .Content }}</p>
          {{- if .Param "button" -}}
          <a href="{{.Param `buttonSlug` }}"
            class="btn btn-light btn-full text-center">{{ i18n "more" }}</a>
          {{- end -}}
        </div>
      </div>
      {{- end -}}
      {{- end -}}
    </div>
    {{- end -}}

    {{- with .Site.GetPage "/home/walking-tour" -}}
    <div class="mosaic-content-wrapper flex-row-m">
      <div class="mosaic-content text-center">
        {{ .Content }}
      </div>
      <div class="mosaic-wrapper">
        {{- with .Param "image1" -}}
        <span class="mosaic-item mosaic-item-1"><img src="/images/{{ . }}" alt="" class="full-width"></span>
        {{- end -}}
        {{- with .Param "image2" -}}
        <span class="mosaic-item mosaic-item-2"><img src="/images/{{ . }}" alt="" class="full-width"></span>
        {{- end -}}
        {{- with .Param "image3" -}}
        <span class="mosaic-item mosaic-item-3"><img src="/images/{{ . }}" alt="" class="full-width"></span>
        {{- end -}}
        {{- with .Param "image4" -}}
        <span class="mosaic-item mosaic-item-4"><img src="/images/{{ . }}" alt="" class="full-width"></span>
        {{- end -}}
      </div>
    </div>
    {{- end -}}

  {{- with .Site.GetPage "/home/how-it-works" -}}
  </section>

  <section class="home bg-sky py-1">
    <div class="content-width">
      {{ .Content }}
    </div>
  </section>

  <section class="content-width home">
  {{- end -}}
    <h2 class="fSketch h1 text-center">{{ i18n "enjoy" }}</h2>
    <p class="text-center">
      {{- with .Site.GetPage "/contact/contact" -}}
      <a href="{{ .RelPermalink }}" class="btn btn-light btn-round btn-picto mx-1">
        <span class="fas fa-comments"></span> {{ i18n "letstalk" }}
      </a>
      {{- end -}}
      {{- with .Site.GetPage "/pricing" -}}
      <a href="{{ .RelPermalink }}" class="btn btn-sky btn-round btn-picto mx-1">
        <span class="fas fa-list"></span> {{ i18n "prices" }}
      </a>
      {{- end -}}
    </p>
  </section>
{{- end }}
