{{ define "main" -}}
  <article class="content-width">
    {{ .Content }}

    {{- $bundle := .Site.GetPage "page" "home" -}}
    {{ with $bundle}}
    <div class="tips-wrapper flex-row">
      {{ range $bundle.Data.Pages }}
      <div class="tips-box flex-col">
        {{- $source2 := .Param "imageBig" -}}
        {{- $alt := .Param "imageTitle" -}}
        {{- with .Param "image" -}}
        <picture class="full-width">
          {{- with $source2 -}}
          <source src="{{ $source2 }}" media="(min-width: 1024px)">
          {{- end -}}
          <img src="{{ . }}" alt="{{ $alt }}" class="full-width">
        </picture>
        {{- end -}}
        <div class="fRoboto tips-content">
          <h2 class="fPhilo h2 text-center">{{ .Title }}</h2>
          <p>{{ .Content }}</p>
          {{ if .Param "button" }}
          <a href="{{.Param "buttonSlug" }}"
            class="btn btn-light btn-full text-center">{{ i18n "more" }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}

  </article>
{{- end }}