{{ define "main" }}
<section class="content-width contact flex-row-s">
  <div class="contact-infos p-3">
    {{ .Content }}
  </div>
  <form name="contact" method="POST" class="contact-form flex-row-s p-3" data-netlify="true">
    <p class="hidden">
      <label>Don't fill this if you're human: <input name="bot-field"></label>
    </p>
    <p class="col-2">
      <label class="screen-only" for="first_name">{{ i18n "first_name" }}</label>
      <input type="text" name="first_name" id="first_name"
        class="contact-field" placeholder="{{ i18n `first_name` }}">
    </p>
    <p class="col-2">
      <label class="screen-only" for="last_name">{{ i18n "last_name" }}</label>
      <input type="text" name="last_name" id="last_name"
        class="contact-field" placeholder="{{ i18n `last_name` }}">
    </p>
    <p class="col-2">
      <label class="screen-only" for="email">{{ i18n "email" }}</label>
      <input type="email" name="email" id="email"
        class="contact-field" placeholder="{{ i18n `email` }}">
    </p>
    <p class="col-2">
      <label class="screen-only" for="phone">{{ i18n "telephone" }} ({{ i18n "optionnal" }})</label>
      <input type="tel" name="phone" id="phone"
        class="contact-field" placeholder="{{ i18n `telephone` }} ({{ i18n `optionnal` }})">
    </p>
    <p>
      <label class="screen-only" for="subject">{{ i18n "subject" }}</label>
      <input type="text" name="subject" id="subject"
        class="contact-field" placeholder="{{ i18n `subject` }}">
    </p>
    <p>
      <label class="screen-only" for="message">{{ i18n "message" }}</label>
      <textarea name="message" id="message"
        class="contact-field" placeholder="{{ i18n `message` }}"></textarea>
    </p>
    <div data-netlify-recaptcha="true" data-callback="alert('validated')"></div>
    <button type="submit" class="btn btn-light btn-round">send</button>
  </form>
</section>
{{ end }}